@model InvoiceRegisterClient.Models.PagedResultViewModel<InvoiceRegisterClient.Models.ClientViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Clients</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr /> @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
        <div class="row">
        
            <div class='col-xs-12 col-sm-4'>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        
            <div class='col-xs-12 col-sm-4'>
                <div class="form-group">
                    @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        
            <div class='col-xs-12 col-sm-4'>
                <div class="form-group">
                    @Html.LabelFor(model => model.Page, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Page, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Page, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        
            <div class='col-xs-12 col-sm-4'>
                <div class="form-group">
                    @Html.LabelFor(model => model.PageSize, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PageSize, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PageSize, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        
            <div class='col-xs-12 col-sm-4'>
               <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
            </div>
        
        </div>
    
        
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
    <th></th>
    </tr>

    @foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>