@model InvoiceRegisterClient.Models.PagedResultViewModel<InvoiceRegisterClient.Models.ClientViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Clients</h2>

<hr /> @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form method="post" class="form-inline">
    @Html.AntiForgeryToken()
    
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control mb-3 mr-sm-2", placeholder = "Name" } })
    
    @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "mb-3 col-sm-1" })
    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control mb-3 mr-sm-1" } })
    
    @Html.LabelFor(model => model.PageSize, htmlAttributes: new { @class = "mb-3 col-sm-1" })
    @Html.EditorFor(model => model.PageSize, new { htmlAttributes = new { @class = "form-control mb-3 mr-sm-1" } })

    <button type="submit" class="btn btn-primary mb-3">Filter</button>
    <button type="button" class="btn btn-primary mb-3 ml-1">New</button>
</form>


<table class="table">
    <tr>
        <th>
            Name
        </th>
    <th></th>
    </tr>

    @foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>